.search {
    -webkit-appearance: none;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px 20px;
    width: 300px;
    margin-bottom: 30px;
    font-size: 20px;
    opacity: .8;
    box-shadow: 0 10px 20px rgba(0,0,0, .4);
}