.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to left, rgb(7, 27, 82), rgb(0, 128, 128));

}

.header {
  font-family: 'Bigelow Rules', cursive;
  font-size: 72px;
  color: #0ccac4;
  margin: 30px 0;
}